<div class="container" style="margin-bottom:10px;">
    <h4 class="titles">Our Products</h4>
    <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="span3">
                    <div class="box aligncenter">
                        <div class="aligncenter icon">
                        <i class="fa fa-bars"></i>
                        </div>
                        <div class="text">
                            <h6>Customer Branding</h6>
                            <p>
                                Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                            </p>
                            <button type="button" class="btn btn-outline-info">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                    <div class="span3">
                            <div class="box aligncenter">
                                <div class="aligncenter icon">
                                        <i class="fa fa-bars"></i>
                                </div>
                                <div class="text">
                                    <h6>Visibility Products</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                    </p>
                                    <button type="button" class="btn btn-outline-info">View</button>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                    <div class="span3">
                            <div class="box aligncenter">
                                <div class="aligncenter icon">
                                        <i class="fa fa-bars"></i>
                                </div>
                                <div class="text">
                                    <h6>Presentation Tools</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                    </p>
                                    <button type="button" class="btn btn-outline-info">View</button>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                    <div class="span3">
                            <div class="box aligncenter">
                                <div class="aligncenter icon">
                                        <i class="fa fa-bars"></i>
                                </div>
                                <div class="text">
                                    <h6>Maintenance</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                                    </p>
                                    <button type="button" class="btn btn-outline-info">View</button>
                                </div>
                            </div>
                        </div>
            </div>

    </div>

 </div> 