<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title">Home</span>
                </a>
              </li>
          {% for cat in product_categories %}   
          <li class="nav-item">
            <a class="nav-link" href="{{cat.get_absolute_url}}">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">{{cat.name}}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
