<div class="container" style="margin-bottom:20px;">
    <h4 class="titles">Why Us</h4>
    <div class="row counters">

            <div class="col-lg-4 col-6 text-center">
              <span data-toggle="counter-up">274</span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-4 col-6 text-center">
              <span data-toggle="counter-up">421</span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-4 col-12 text-center">
                <button class="btn btn-large  btn-rounded" href="#"> <span class="render"> Get a Quote</span></button>
            </div>
      
          </div>
    </div>