{% extends "admin/base.html" %}

{% block title %}{{ title }} | Hunter Profile {% endblock %}

{% block extrastyle %}
<style>
#header{ background: #0099ff; color:#FFF;}
#branding h1, #branding h1 a:link, #branding h1 a:visited{color:#FFF;}
#login-form .submit-row input{width:100px;background: #0099ff; color:#fff;font-size:12px;}
.colMS h1{color: #0099ff;}
.module h2, .module caption, .inline-group h2{font-size:16px;color:#0099ff;}
.dashboard .module table th a{font-size:14px;color:#0099ff;}
#content-main .section{color:#FFF;}
#content-main caption{background: #0099ff;}
#content-related .module h2{color:#fff;background: #0099ff;}
#content-related h3{color: #0099ff;}
.addlink a{color: #0099ff;}
div.breadcrumbs{background:#0099ff;color:#fff;}
tbody tr{color:#000;}
.result_list{color:#000;}
</style>

{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Hunter Profile </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
